# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
build/
.env.local

# DB / uploads / model artifacts
*.db
backend/uploads/*
!backend/uploads/.gitkeep
backend/ml/saved_model/

# OS
.DS_Store
